* {
    box-sizing: border-box;
}
body {
    background-color: #4618AC !important;
}
/* top bar start */
.search-input-container {
    display: flex;
    align-items: center;
}
.search-input-container button {
    width: 50px;
    height: 50px;
    border: 1px solid white;
}
.search-input {
    width: 550px;
    height: 50px;
    background-color: #4618AC;
    border: 1px solid white;
    color: white;
}
.search-input:focus {
    outline: none;
}
.header-top-bar {
    background-color: #4618AC;
}
.top-bar {
    height: 100px;
}
.top-bar .function-btn {
    color: white;
}
.top-bar .function-btn > a {
    color: white;
}
.top-bar .function-btn .func-icon {
    font-size: 30px;
}
.top-bar .function-btn .func-icon:hover {
    color: #FAD318;
}
.user-login {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}
.user-login > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.user-login > a:hover {
    color: #FAD318;

}
.person-login {
    display: flex;
    align-items: center;
    /* height: 100px; */
}
.person-login p {
    margin: 0;
}
.person-login i {
    font-size: 35px;
}
/* top bar end */

/* nav bar start */
.header-nav-bar {
    background-color: #311178;
}
.nav-bar {
    height: 50px;
}
.nav-bar > div > a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0 20px;
    line-height: 50px;
}
.nav-bar > div > a:hover {
    background-color: #1F0A4E;
    color: #FAD318;
}
/* .nav-bar > div > a:first-child {
    padding-right: 20px;
}
.nav-bar > div > a:not(:first-child) {
    padding: 0 20px;
} */
.owl-carousel {
    color: black;
}
/* nav bar end */

/* slider start */
.slider {
    width: 100%;
    height: 100%;
    background-color: #4618AC;
}
.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent !important;
}
.owl-nav .owl-next {
    right: 10px;
}
.owl-nav .owl-prev {
    left: 10px;
}
.owl-nav .owl-next span,.owl-nav .owl-prev span {
    font-size: 80px;
    color: #00e205;
}
.owl-nav .owl-next span:hover,.owl-nav .owl-prev span:hover {
    color: white;
}
.owl-dots {
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
}
/* slider end */


/* recommended start */
.recommended {
    margin-top: 24px;
    background-color: #4618AC;
    margin-bottom: 24px;
}
.rcm-banner {
    position: relative;
}
.rcm-banner img:hover {
    opacity: 0.8;
}
/* .rcm-banner button {
    position: absolute;
    width: 150px;
    height: 40px;
    right: 5%;
    top: 50%;
    transform: translate(0%, -50%);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    background-color: #e0cfff;
}
.rcm-banner button a {
    text-decoration: none;
    color: black;
}
.rcm-banner button:hover {
    background-color: #dba0f5;
} */
/* prouct-card-start */
.product-card {
    margin-bottom: 12px;
    width: 100%;
    /* height: 699ox; */
    background-color: #1F0A4E;
    /* margin-left: 12px; */
}
.product-card img {
    width: 100%;
    height: 400px;
}
.product-card .product-info {
    color: white;
    margin: 15px;

}
.product-card .product-info b {
    color: #1C9394;
    font-weight: 700;

}
.product-card .product-info span {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #A598A7;
    font-size: 15px;
}
.product-card .product-info span p {
    margin: 0;
}
/* product card end */

/*hot game banner start */
.hot-game {
    padding-bottom: 24px;
    padding-top: 24px;
    background-color: #311178;
}

.hot-game-banner {
    /* margin-top: 12px; */
    position: relative;
}
.hot-game-banner img:hover {
    opacity: 0.8;
}
/* .hot-game-banner button {
    position: absolute;
    width: 150px;
    height: 40px;
    right: 5%;
    top: 50%;
    transform: translate(0%, -50%);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    background-color: #e0cfff;
} */
/* .hot-game-banner button a {
    text-decoration: none;
    color: black;
}
.hot-game-banner button:hover {
    background-color: #dba0f5;
} */
/* hot game banner end */

/* coming soon banner start */
.coming-soon {
    background-color: #4618AC;
    padding-top: 24px; 
    padding-bottom: 24px;
    /* padding-top: 24px; */
}

.coming-soon-banner img:hover {
    opacity: 0.8;
} 
/* coming soon banner end */


/* hot news start */
.hot-news {
    background-color: #311178;
    padding-top: 24px; 
    padding-bottom: 24px;
}
.news-card .news-card-info a {
    text-decoration: none;
    color: white;
}
.news-card .news-card-info p {
    color: white;
}
.news-card .news-card-info button {
    background-color: #311178;
    color: white;
    font-weight: 500;
    border: 1px solid white;
    padding: 5px 20px;
}
.news-card .news-card-info button:hover {
    background-color: #220C54;
}
/* hot news end */

/* community banner start */
.community-banner {
    background-image: url(../images/community-bgr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 380px;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
.community-banner a {
    text-decoration: none;
    color: white;
    animation: pulse 1s infinite;

}
@keyframes pulse {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
}
/* community end */

/* footer start */
.footer {
    padding-bottom: 24px;
    width: 100%;
    background-color: #1C0A45;
}
.footer .payment-type {
    background-color: white;
    padding:10px 0px;
}
.footer .footer-icon {
    margin-top: 24px;
    color: white;
    font-size: 30px;
}
.footer .footer-content {
    margin-top: 24px;
    color: white;
}
/* footer end */



/* user dropdown */
.dropdown-item:hover {
    color: #311178!important;
}